<h2 class="hourly-weather-title">Hourly Forescast</h2>
<ul class="weather-forecast-hourly">
  {{#each this.hourly as |hourly|}}
  <li class="hourly-forecast">
    <p class="hourly-high-temp">{{hourly.time}}</p>
    <p class="hourly-high-temp">High {{hourly.temperature}}</p>
    <p class="hourly-low-temp">Low {{hourly.temperature}}</p>
    <p class="hourly-precip-prob">{{hourly.precipProbability}}%</p>
  </li>
  {{/each}}
</ul>
{{yield}}
