<header class = "current-location">
  <h2>Current Local Weather</h2>
</header>
<div class="current-weather">
  <div class="temperature-widget">
    <span>HI</span>
    <div class="temp-icon">

     <h1 class='temperature'>{{current.temperature}}<span>&deg;</span></h1>

    </div>
    <h3 class="summary">{{current.summary}}</h3>
    <h3 class="current-time">{{current.time}}</h3>
  </div>
</div>
<div class="hourly-weather">
  <h4>{{hourly}}</h4>
</div>
<div class="search-bar">

</div>


{{yeild}}
