{{log model}}
{{lat}}{{lng}}{{forecast}}

{{log model}}

<div class="app-container">

  {{weather-main current=model.currently}}

  {{daily-forecast daily=this.model.daily.data}}

</div>

{{outlet}}

{{!-- <div class="app-container">
  <header class = "current-location">
    <h2>Greenville, SC
    </h2>
  </header>
  <div class="current-weather">
    <div class="temperature-widget">
      <div class="temp-icon">
       <h1 class='temperature'>70{{temperature}}<span>&deg;</span></h1>
      </div>
    </div>
  </div>
  <div class="hourly-weather">
    <h4>{{hourly}}</h4>
  </div>
  <div class="weekly-weather">

  </div>
  <div class="search-bar">

  </div>
</div> --}}

{{outlet}}
