{{log model}}

<div class="app-container">

  {{weather-main current=model.currently}}

  {{hourly-weather hourly=this.model.hourly.data}}

  {{daily-forecast daily=this.model.daily.data}}

</div>

{{outlet}}
